@{
    ViewData["Title"] = "Home Page";
}

<div class="Jumbotron">
    <h1> Contoso Univeristy</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Coltoso University</h2>
        <p>
            TARpe21 Contoso University projekt vms
        </p>
    </div>

    <div class="col-md-4">
        <h2>Teine Heading</h2>
        <p>
            m mmmmmmmmmmmmmmmmmmmmmmmmmicrowaveeee
        </p>
    </div>
</div>
